.topnav {
    background-color: #ffffff;
    overflow: hidden;
    border-bottom: solid 3px rgb(223, 106, 149);
}
    .topnav a {
        float: right;
        color: #060000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        background-color: #ed606c;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        transition-timing-function: ease-in-out;
        transition-delay: 0.2s;
        
    }
.sbv{
   float: left;
    width: 40%;
    padding-left: 10px;
    margin-left: 30px;
    background: linear-gradien(#ed606c,#342d2d,#f8f5f5);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(7px);
    border-radius: 15px;
    border: 1px solid #f8f5f5;
    box-shadow: 0 8px 12px #000000;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.cci{
    float: right;
    width: 40%;
    margin-right: 30px;
    background: linear-gradien(#342d2d, #ed606c, #ffffff);
    -webkit-backdrop-filter: blur();
    backdrop-filter: blur(7px);
    border-radius: 15px;
    border: 1px solid #f8f5f5;
    box-shadow: 0 8px 12px #000000;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;

}
.exp{
    padding-top: 40px;
}
h1{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.letter{
    font-size: 70px;
    color: #ed606c;
}